<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title == "ares" %} {{ page.title }} {% else %} {{ page.title }} — ares {% endif %}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='robots' content='noarchive'>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
</head>
<body>
<header>
    <a href='/index'><img src='/images/logo.png' alt='' width='217' height='42'></a>
</header>
<nav>
    <a href='/about'>About</a>
    <a href='/posts'>Posts</a>
    <a href='/gallery'>Gallery</a>
    <a href='/docs'>Docs</a>
</nav>
<main>
    {{ content }}
</main>
<footer>
</footer>
</body>
</html>
