<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title == "ares" %} {{ page.title }} {% else %} {{ page.title }} — ares {% endif %}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='robots' content='noarchive'>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
</head>
<body>
<header>
    <a href='/index'><img src='/images/logo.png' alt='' width='217' height='42'></a>
</header>
<nav>
    <a href='/about'>About</a>
    <a href='/posts'>News</a>
    <a href='/compatibility'>Compatibility</a>
    <a href='/gallery'>Gallery</a>
    <a href='/docs'>Documentation</a>
    <a href='//github.com/ares-emulator/ares'>GitHub</a>
</nav>
<main>
    {{ content }}
</main>
<footer>
</footer>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr) );
    })));

    document.querySelectorAll('.default-sort').forEach(elem => {
        // Nasty hack: double click if sorting desc
        if(elem.classList.contains('desc')) {
            elem.dispatchEvent(new Event("click"));
        }

        elem.dispatchEvent(new Event("click"));
    });
</script>

</body>
</html>
